.catalog-main {
  padding: 20px;
  outline: 2px solid blue;
}
.catalog-main__title {
  .fonts("Oswald","Arial", sants-serif; 36px; 60px; black; normal; none; none);
  padding: 0;
  margin: 0;
}






