.catalog-main {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.catalog-main__title {
  .fonts(36px; 60px; black; none);
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #ededed;
  border-top: 2px solid #ededed;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .catalog-main {
    width: 768px;
    padding: 0 30px;
  }

  .catalog-main__title {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {
    width: 1440px;
    padding: 0 110px;
  }

  .catalog-main__title {
    font-size: 60px;
    line-height: 60px;
  }
}
