.catalog {
  outline: 2px solid green;
  padding: 0 20px;
}
.catalog__list {
  .list(none; 0; 0);
}
.catalog__item {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}
.catalog__title {
  .fonts("Oswald","Arial", sants-serif; 24px; 37px; black; normal; uppercase; none);
  padding: 20px 0 20px 90px;
  margin: 0;
  margin-bottom: 10px;
}
.catalog__description {
  .fonts("Arial", sants-serif; 14px; 18px; #444444; normal; none; none);
}
.catalog__button {
  .fonts("Oswald", "Arial", sants-serif; 16px; 16px; #111111; normal; uppercase; none);
}
