.catalog-products {
  outline: 2px solid green;
}

.catalog-products__list {
  .list(none; 0; 0);
}

.catalog-products__link {
  .fonts(16px; 20px; #111111; uppercase);
}

.catalog-products__table {
  .fonts(12px; 16px; #444444; none; @family: @secondFont);
}

.catalog-products__show {
  .fonts(16px; 20px; #111111; uppercase);
}

.catalog-products__tastyes {
  .fonts(16px; 20px; #111111; none);
}

.catalog-products__more {
  padding: 50px;
}

.catalog-products__button {
  /*styles*/
  &--show {
    background-color: #f2f2f2;
    color: #444444;
  }
}
