.catalog {
  width: 320px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 16px;
}

.catalog__list {
  .list(none; 0; 0);
  margin: 20px;
  padding: 0;
  margin-bottom: 0;
}

.catalog__item {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 267px;
  box-sizing: border-box;
  padding-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__title {
  .fonts(24px; 37px; black; uppercase);
  padding: 11px 53px 8px 70px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 6px;
    left: 2px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    content: "";

    border-radius: 50%;
    background-color: #68b738;
    opacity: 1;
  }
}

.catalog__description {
  .fonts(14px; 18px; #444444; none; @family: @secondFont);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 20px;
  margin-top: 22px;
}

.catalog__button {
  .fonts(16px; 16px; #111111; uppercase);
  position: relative;

  &::after {
    position: absolute;
    top: 6px;
    left: 97px;
    box-sizing: border-box;
    width: 24px;
    height: 11px;

    content: "";

    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 11px;
    opacity: 1;
  }
}

.catalog__title--slim {
  position: relative;

  &::after {
    position: absolute;
    top: 2px;
    left: 10px;
    box-sizing: border-box;
    width: 35px;
    height: 49px;

    content: "";

    background-image: url("/img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px 49px;
    opacity: 1;
  }
}

.catalog__title--pro {
  padding: 10px 10px 7px 70px;
  position: relative;

  &::before {
    position: absolute;
    top: 3px;
    left: 1px;
  }

  &::after {
    position: absolute;
    top: 16px;
    left: -7px;
    box-sizing: border-box;
    width: 67px;
    height: 28px;

    content: "";

    background-image: url("/img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 67px 28px;
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 47px;
  }

  .catalog__list {
    margin: 0;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 710px;
    min-height: 370px;
    margin-bottom: 32px;
  }

  .catalog__description {
    .fonts(16px; 24px; #444444; none; @family: @secondFont);
    width: 375px;
    border-bottom: none;
    margin-left: 31px;
    padding-bottom: 32px;
    margin-top: 18px;
    box-sizing: border-box;

    &--pro {
      padding-right: 35px;
    }
  }

  .catalog__title {
    .fonts(36px; 37px; black; uppercase);
    padding: 56px 46px 7px 33px;
  }

  .catalog__title--slim {
    &::before {
      position: absolute;
      top: 72px;
      left: 425px;
      box-sizing: border-box;
      width: 200px;
      height: 200px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
      opacity: 1;
    }

    &::after {
      background-image: url("/img/cat-slim.png");
      top: 60px;
      left: 455px;
      width: 140px;
      height: 194px;
      background-size: 140px 194px;
    }
  }

  .catalog__button {
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin-left: 33px;
    padding-top: 5px;

    &::after {
      top: 9px;
      left: 131px;
    }

    &--pro {
      &::after {
        left: 125px;
      }
    }
  }

  .catalog__title--pro {
    padding-top: 56px;

    &::after {
      background-image: url("/img/cat-pro.png");
      top: 115px;
      left: 392px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }

    &::before {
      position: absolute;
      top: 71px;
      left: 429px;
      box-sizing: border-box;
      width: 200px;
      height: 200px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
      opacity: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1300px;
    padding: 0 40px;
    margin-bottom: 33px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    min-height: 410px;
  }

  .catalog__item {
    width: 570px;
    box-sizing: border-box;
    margin-bottom: 39px;

    &:last-child {
      margin-bottom: 39px;
    }
  }

  .catalog__title {
    padding: 34px 13px 7px 33px;
    text-align: center;
    margin-top: 21px;
  }

  .catalog__title--slim {
    &::before {
      position: absolute;
      top: 3px;
      left: 32px;
      box-sizing: border-box;
      width: 100px;
      height: 100px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
      opacity: 1;
    }

    &::after {
      position: absolute;
      top: -3px;
      left: 46px;
      box-sizing: border-box;
      width: 70px;
      height: 97px;

      content: "";

      background-image: url("/img/cat-slim2.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70px 97px;
      opacity: 1;
    }
  }

  .catalog__title--pro {
    position: relative;
    padding-left: 74px;

    &::before {
      position: absolute;
      top: 4px;
      left: 31px;
      box-sizing: border-box;
      width: 100px;
      height: 100px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
      opacity: 1;
    }

    &::after {
      position: absolute;
      top: 26px;
      left: 14px;
      box-sizing: border-box;
      width: 134px;
      height: 56px;

      content: "";

      background-image: url("/img/cat-pro2.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 134px 56px;
      opacity: 1;
    }
  }

  .catalog__description {
    width: 465px;
    .fonts(16px; 24px; #444444; none; @family: @secondFont);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 66px;
    margin-left: 31px;
  }

  .catalog__button {
    margin-left: 30px;
    padding-top: 1px;
    padding-left: 3px;

    &::after {
      top: 6px;
      left: 134px;
    }

    &--pro {
      &::after {
        left: 129px;
      }
    }
  }
}
