.features {
  outline: 2px solid black;
  padding: 0 20px;
}
.features__title {
  .fonts("Arial", sants-serif; 36px; 60px; #111111; normal; none; none);
  margin: 0;
  padding: 10px;
  margin-bottom: 40px;
}
.features__list {
  .list(none; 0; 0);
  padding-left: 80px;
}
.features__item {
  .fonts("Arial", sants-serif; 14px; 18px; #444444; normal; none; none);
  margin-bottom: 20px;
}
.features__item:last-child {
  margin-bottom: 0;
}
