.first-screen {
  margin-bottom: 20px;
  outline: 2px solid blue;
}

.first-screen__title {
  .fonts(36px; 36px; white; uppercase);
  padding: 25px 35px;
  margin: 0;
  text-align: center;
}

.first-screen__background {
  .background(#65a93c; url("../img/index-background-mobile@1x.jpg"); no-repeat; top center; contain);
  padding-bottom: 65px;
  margin-bottom: 135px;
}

.first-screen__desc {
  .fonts(14px; 14px; white; uppercase);
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-top: 4px;
}

.first-screen__choose-program {
  .fonts(14px; 18px; white; normal);
}
