.page-header {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 2px;
}

.page-header__logo {
  text-align: left;
}

.page-header__logo-img {
  padding-bottom: 12px;
  padding-left: 20px;
  padding-top: 12px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: flex-start;
    width: 768px;

    & img {
      display: block;
      width: 173px;
      height: 58px;
      text-align: left;
    }
  }

  .page-header__logo {
    padding-left: 10px;
    margin-right: 96px;
    padding-top: 12px;
  }

  .page-header__logo-img {
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
  }

  .page-header__logo {
    padding-left: 40px;
    margin-right: 538px;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
    padding-top: 42px;
  }

  .page-header__logo-img {
    padding-left: 0;
  }
}
