.site-list {
  .list(none, 0, 0);
  text-align: center;
}

.site-list__link {
  display: block;
  .fonts(20px; 20px; #111111; uppercase);
  letter-spacing: 0.6px;
  padding-right: 5px;
}

.site-list__item {
  padding: 23px 19px 22px 22px;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 42px;
  }

  .site-list__link {
    .fonts(18px; 25px; #111111; uppercase);
    padding: 0;
    padding-bottom: 23px;
    background: none;
    border: none;
    letter-spacing: 0.1px;

    &--active {
      position: relative;
    }
  }

  .site-list__item {
    padding: 0;
    margin-right: 33px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 14px;
    left: 0;
    height: 3px;
    background: #68b738;
  }

  .site-list__item a[href]:hover {
    opacity: 0.6;
  }

  .site-list__item a[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    padding-top: 73px;
  }

  .site-list__item {
    margin-right: 32px;
  }

  .site-list__link--active::after {
    height: 2px;
    background-color: white;
  }

  .site-list__link--activegreen::after {
    background-color: #68b738;
  }

  .site-list__link {
    .fonts(20px; 25px; white; uppercase);

    &--black {
      color: #111111;
    }
  }
}
