.social-list {
  .list(none; 0; 0);
  display: flex;
  /*justify-content: flex-start;*/
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 21px 20px 15px 51px;

  &::after {
    position: absolute;
    top: -3px;
    left: 0;
    box-sizing: border-box;
    width: 280px;
    height: 1px;

    content: "";

    background-image: url("/img/footer-div.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 280px 1px;
    opacity: 1;
  }

  &::before {
    position: absolute;
    top: auto;
    bottom: 8px;
    left: 0;
    box-sizing: border-box;
    width: 280px;
    height: 1px;

    content: "";

    background-image: url("/img/footer-div.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 280px 1px;
    opacity: 1;
  }
}

.social-list__link {
  &:hover svg {
    fill: #68b738;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.social-list__item {
  margin-right: 38px;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .social-list {
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 0 15px 18px;
    /*width: 127px;*/
    width: 230px;

    &::after,
    &::before {
      display: none;
    }
  }

  .social-list__item {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-list__link--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .social-list__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social-list__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
